*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: CALIST;
}

body{
    background-image: url(../component/as_1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1000px;
    color: #897044;
}

.section-1{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container_name{
    position: absolute;
    z-index: 10;
    background-color: rgba(255, 255, 255, .5);
    padding: 20px 60px 0px;
    border-radius: 30px;
}

.container_name .wedding_couple_name{
    font-size: 5rem;
    color: #897044;
    font-family: "Elsie Swash Caps", serif;
    font-weight: 900;
}
.container_name .subtitle_couple_name{
    font-size: 2rem;
    color: #897044;
    font-family: CALIST;
}
.section-1 img{
    position: absolute;
}

.section-1 .banana_tree{
    width: 230px;
    right: 0;
    bottom: 100px;
    z-index: 5;
}
.section-1 .banana_tree2{
    width: 200px;
    left: 45px;
    bottom: 0;
    z-index: 10;
}
.section-1 .banyan_tree{
    /* width: 550px; */
    left: 0;
    /* bottom: 0; */
}

.section-1 .bushes{
    width: 100%;
    bottom: -30%;
    z-index: 5;
}

.section-1 .birds_on_tree{
    width: 200px;
    left: 37%;
    top: 35px;
    z-index: 15;

}

.section-1 .big_bushes{
    right: 0;
    bottom: 0;
}

.section-1 .candi{
    width: 70%;
    left: 80px;
    bottom: -60px;
    z-index: -10;
}
.section-1 .moon{
    width: 150px;
    right: 31%;
    z-index: -15;
}

.title-wedding-invitation{
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #897044;
}
.subtitle-wedding-invitation{
    font-size: 20px;
    color: #897044;
    font-weight: 600;
}

.bushes-wedding-invitation{
    transform: rotate(180deg);
    /* display: none; */
}
.section-2 .img-wedding-invitation{
    width: 400px;
    border-radius: 20px;
    border: 3px solid #897044;
}
.section-3 .title-section-3{
    font-size: 60px;
    font-weight: bolder;
    color: #897044;
}
.section-3 .subtitle-section-3{
    font-size: 25px;
    font-weight: 700;
    color: #897044;
}
.section-3 .img-section-3{
    border-radius: 10px 50px 10px 50px;
    border: 3px solid #897044;
}

.section-4 .bigtitle-section-4{
    font-size: 60px;
    font-weight: bolder;
    color: #897044;
}
/* .section-4 .title-section-4{
    /* font-size: 25px; */
    
} */
.section-4 .subtitle-section-4{
    font-size: 20px;
    text-align: justify;
}

@font-face {
    font-family: CALIST;
    src: url(../../font/CALIST.TTF);
}


@media only screen and (max-width: 1280px) {
   
    
    .section-1 .bushes{
        width: 100%;
        bottom: -20%;
        z-index: 5;
    }
    
    .section-1 .birds_on_tree{
        width: 200px;
        left: 38%;
        top: 110px;
    
    }
    
    .section-1 .candi{
        width: 80%;
        left: -20px;
        bottom: -70px;
        z-index: -10;
    }
    .section-1 .moon{
        width: 160px;
        bottom: 220px;
        right: 29%;
        z-index: -15;
    }
}
@media only screen and (max-width: 428px) {
    .section-1{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    
    }
    
    .container_name{
        position: absolute;
        z-index: 15;
        background-color: unset;
        top: 110px;
        padding: 0;
    }
    
    .container_name .wedding_couple_name{
        font-size: 55px;
    }
    .container_name .subtitle_couple_name{
        font-size: 28px;
    }
    .section-1 img{
        position: absolute;
    }
    
    .section-1 .banana_tree{
        width: 100px;
        right: 0;
        bottom: 70px;
        z-index: 5;
    }
    .section-1 .banana_tree2{
        width: 80px;
        left: 45px;
        bottom: 0;
        z-index: 10;
    }
    .section-1 .banyan_tree{
        width: 270px;
        left: 0;
        bottom: 0;
    }
    
    .section-1 .bushes{
        width: 100%;
        z-index: 5;
        bottom: 0;
    }
    
    .section-1 .birds_on_tree{
        width: 80px;
        left: 200px;
        top: 450px;

    
    }
    
    .section-1 .big_bushes{
        width: 200px;
    }
    
    .section-1 .candi{
        width: 300px;
        left: 0px;
        bottom: 47px;
    }
    .section-1 .moon{
        width: 55px;
        bottom: 130px;
        right: 35%;
        z-index: -15;
    }
    .title-wedding-invitation{
        font-size: 50px;
    }
    .subtitle-wedding-invitation{
        font-size: 20px;
        color: #897044;
        font-weight: 600;
        text-align: justify;
    }
    .section-2 .img-wedding-invitation{
        width: 100%;
    }
    .section-3 .title-section-3{
        font-size: 50px;
        text-align: center;
    }
    .section-3 .subtitle-section-3{
        font-size: 20px;
        text-align: justify;

    }
}

@media only screen and (max-width: 414px) {
    .section-1{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    
    }
    
    
    
    .container_name .wedding_couple_name{
        font-size: 55px;
    }
    .container_name .subtitle_couple_name{
        font-size: 28px;
    }
    
    .section-1 img{
        position: absolute;
    }
    
    .section-1 .banana_tree{
        width: 100px;
        right: 0;
        bottom: 70px;
        z-index: 5;
    }
    .section-1 .banana_tree2{
        width: 80px;
        left: 45px;
        bottom: 0;
        z-index: 10;
    }
    .section-1 .banyan_tree{
        width: 270px;
        left: 0;
        bottom: 0;
    }
    
    .section-1 .bushes{
        width: 100%;
        z-index: 5;
        bottom: 0;
    }
    
    .section-1 .birds_on_tree{
        width: 130px;
        left: 200px;
        top: 430px;

    
    }
    
    .section-1 .big_bushes{
        width: 200px;
    }
    
    .section-1 .candi{
        width: 270px;
        left: 0px;
        bottom: 50px;
    }
    .section-1 .moon{
        width: 56px;
        bottom: 118px;
        right: 38%;
        z-index: -15;
    }
}
@media only screen and (max-width: 412px) {
    
    .container_name{
        top: 120px;
    }
    .section-1 .birds_on_tree{
        width: 80px;
        left: 200px;
        top: 530px;
    
    }
}

@media only screen and (max-width: 390px) {
    .section-1{
        overflow: hidden;
    }
    
    
    
    
    .container_name .wedding_couple_name{
        font-size: 50px;
    }
    .container_name .subtitle_couple_name{
        font-size: 25px;
    }
    .section-1 .banana_tree{
        width: 80px;
        right: 0;
        bottom: 70px;
        z-index: 5;
    }
    .section-1 .banana_tree2{
        width: 70px;
        left: 45px;
        bottom: 0;
        z-index: 10;
    }
    .section-1 .banyan_tree{
        width: 220px;
        left: 0;
        bottom: 0;
    }
    
    .section-1 .bushes{
        width: 100%;
        z-index: 5;
        bottom: -5px;
    }
    .section-1 .birds_on_tree{
        width: 60px;
        left: 167px;
        top: 420px;

    
    }
    
    .section-1 .big_bushes{
        width: 175px;
    }
    
    .section-1 .candi{
        width: 273px;
        left: 0;
        bottom: 35px;
    }
    .section-1 .moon{
        width: 50px;
        bottom: 110px;
        right: 35%;
        z-index: -15;
    }
}
@media only screen and (max-width: 375px) {
    .section-1 .birds_on_tree{
        width: 60px;
        left: 167px;
        top: 390px;
    }
    
    .section-1 .candi{
        width: 260px;
        left: 0;
        bottom: 35px;
    }
    .section-1 .moon{
        width: 50px;
        bottom: 105px;
        right: 35%;
        z-index: -15;
    }
}
@media only screen and (max-width: 360px) {
    .section-1{
        overflow: hidden;
    }
    
    .container_name .wedding_couple_name{
        font-size: 47px;
    }
    .container_name .subtitle_couple_name{
        font-size: 23px;
    }

    
    .section-1 .banana_tree{
        width: 80px;
        right: 0;
        bottom: 70px;
        z-index: 5;
    }
    .section-1 .banana_tree2{
        width: 70px;
        left: 45px;
        bottom: 0;
        z-index: 10;
    }
    .section-1 .banyan_tree{
        width: 220px;
        left: 0;
        bottom: 0;
    }
    
    .section-1 .bushes{
        width: 100%;
        z-index: 5;
        bottom: -5px;
    }
    .section-1 .birds_on_tree{
        width: 60px;
        left: 170px;
        top: 470px;

    
    }
    
    .section-1 .big_bushes{
        width: 175px;
    }
    
    .section-1 .candi{
        width: 250px;
        left: 0;
        bottom: 40px;
    }
    .section-1 .moon{
        width: 47px;
        bottom: 105px;
        right: 35%;
        z-index: -15;
    }

    .section-3 .title-section-3{
        font-size: 49px;
        text-align: center;
    }
}