*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: CALIST;
}

body{
    background-image: url(../component/as_1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-1{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wedding_couple_name{
    position: absolute;
    font-size: 5rem;
    z-index: 15;
}

.section-1 img{
    position: absolute;
}

.section-1 .banana_tree{
    width: 230px;
    right: 0;
    bottom: 100px;
    z-index: 5;
}
.section-1 .banana_tree2{
    width: 200px;
    left: 45px;
    bottom: 0;
    z-index: 10;
}
.section-1 .banyan_tree{
    /* width: 550px; */
    left: 0;
    /* bottom: 0; */
}

.section-1 .bushes{
    width: 100%;
    bottom: -30%;
    z-index: 5;
}

.section-1 .birds_on_tree{
    width: 200px;
    left: 32%;
    top: 60px;

}

.section-1 .big_bushes{
    right: 0;
    bottom: 0;
}

.section-1 .candi{
    width: 70%;
    left: 80px;
    bottom: -60px;
    z-index: -10;
}
.section-1 .moon{
    width: 150px;
    /* left: 80px; */
    /* bottom: -60px; */
    right: 31%;
    z-index: -15;
}
















@font-face {
    font-family: CALIST;
    src: url(../../font/CALIST.TTF);
}